@page
@model LoginModel

@{
    ViewData["Title"] = "Влез";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="row justify-content-center align-items-center">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Влез</button>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Забравена парола?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Регистрирай нов акаунт.</a>
                    </p>
                </div>
            </form>
        </section>
        <div class="row justify-content-center align-items-center">
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    if (provider.Name == "Facebook")
                                    {

                                        <button type="submit"
                                                style="color: blue;"
                                                class="btn-lg btn-fb"
                                                name="provider"
                                                value="@provider.Name"
                                                title="Log in using your @provider.DisplayName account">
                                            <i class="fab fa-facebook-f pr-1"></i>@provider.DisplayName
                                        </button>
                                    }
                                    if (provider.Name == "Google")
                                    {

                                        <button type="submit"
                                                style="color: red;"
                                                class="btn-lg btn-fb"
                                                name="provider"
                                                value="@provider.Name"
                                                title="Log in using your @provider.DisplayName account">
                                            <i class="fab fa-google"></i>@(provider.DisplayName.Substring(1,5))
                                        </button>
                                    }
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://apis.google.com/js/platform.js" async defer></script>
}
