@using EasyServices.Common
@using EasyServices.Web.Pages
@model EasyServices.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";

    var cityItems = this.Model.CitiesItems.OrderBy(x => x.Value).Select(x => new SelectListItem(x.Value, x.Key));
}

<div class="text-center">
    <h2 class="display-4">Добре дошли в @GlobalConstants.SystemName!</h2>
    <p class="lead">Сподели <a class="active" href="/Categories/All">услуга</a> или намери такава.</p>
</div>

<div class="container">
    <div class="row">

        <br />
        <br />
        <br />

    </div>
    <div class="row text-center">
        <div class="col">
            <div class="counter">
                <i class="fas fa-users fa-2x"></i>
                <h2 class="timer count-title count-number" data-to="@Model.UsersCount" data-speed="1500"></h2>
                <p class="count-text ">Потребители</p>
            </div>
        </div>
        <div class="col">
            <div class="counter">
                <i class="fas fa-scroll fa-2x"></i>
                <h2 class="timer count-title count-number" data-to="@Model.AnnouncementsCount" data-speed="1500"></h2>
                <p class="count-text ">Обяви</p>
            </div>
        </div>
        <div class="col">
            <div class="counter">
                <i class="fa fa-lightbulb-o fa-2x"></i>
                <h2 class="timer count-title count-number" data-to="@Model.SubCategoriesCount" data-speed="1500"></h2>
                <p class="count-text ">Подкатегории</p>
            </div>
        </div>
    </div>
</div>

<br />
<br />
<br />

<!-- Nav tabs -->
<section class="bg-light">
    <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#home">За нас</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu1">Обяви</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu2">Потребители</a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade show active">
            <br />
            <h2 class="text-center">За нас</h2>
            <p style="text-align: center">
                Ние даваме възможност на хората да споделят своите услуги <br />
                по доста гъвкав и лесен начин или да намерят услугата,<br />
                която търсят!
            </p>

        </div>
        <div id="menu1" class="tab-pane fade">
            <br />
            <h2 class="text-center">Намерете обява </h2>
            <br />
            <form>
                <div class="form-row">
                    <input name="keywords" placeholder="Ключови думи" class="form-control mx-4 col-3" />
                    <select name="subcategoryId" title="Категория" class="form-control col-3">
                        <option name="subcategoryId" value="">Категория</option>
                        @foreach (var category in Model.Categories)
                        {

                            <optgroup label="@category.Name">

                                @foreach (var subCategory in category.SubCategories)
                                {
                                    <option value="@subCategory.Id">@subCategory.Name</option>
                                }
                            </optgroup>
                        }
                    </select>
                    <select name="cityId" title="Изберете град"
                            asp-items="cityItems"
                            class="form-control mx-4 col-3">
                        <option name="cityId" value="">Град</option>
                    </select>
                    <button type="submit"
                            class="btn btn-primary"
                            asp-controller="Announcements"
                            asp-action="Search">
                        Търси
                    </button>
                </div>
            </form>
        </div>
        <div id="menu2" class="tab-pane fade">
            <br />
            <h3 class="text-center">Намерете потребител</h3>

            @(await Html.RenderComponentAsync<SearchUser>(RenderMode.ServerPrerendered))

        </div>
    </div>
    <br />
    <hr />
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane container active" id="home"></div>
        <div class="tab-pane container fade" id="menu1"></div>
        <div class="tab-pane container fade" id="menu2"></div>
    </div>
</section>

<!--Carousel Wrapper-->
<br />
<h3 class="text-center text-primary">Най-нови обяви</h3>

<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

    <!--Controls-->
    <div class="controls-top justify-content-center">
        <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
        <a class="btn-floating" href="#multi-item-example" data-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
    <!--/.Controls-->
    <!--Indicators-->
    <ol class="carousel-indicators text-center">
        <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
        <li data-target="#multi-item-example" data-slide-to="1"></li>

    </ol>

    <!--/.Indicators-->
    <!--Slides-->
    <div class="carousel-inner" role="listbox">

        <!--First slide-->
        <div class="carousel-item active">

            <div class="row row-cols-1 row-cols-md-4">
                @for (int i = 0; i < Model.Announcements.Count() / 2; i++)
                {
                    <partial name="_Announcement" model="@Model.Announcements.ElementAt(i)" />
                }
            </div>

        </div>
        <!--/.First slide-->
        <!--Second slide-->
        <div class="carousel-item">

            <div class="row row-cols-1 row-cols-md-4">
                @for (int i = Model.Announcements.Count() / 2; i < Model.Announcements.Count(); i++)
                {
                    <partial name="_Announcement" model="@Model.Announcements.ElementAt(i)" />
                }
            </div>
        </div>
        <!--/.Second slide-->

    </div>
    <!--/.Slides-->

</div>
<!--/.Carousel Wrapper-->
