@inject UserManager<ApplicationUser> UserManager
@using EasyServices.Data.Models
@using Microsoft.AspNetCore.Identity
@model EasyServices.Web.ViewModels.Announcements.AnnouncementViewModel

@{
    var userId = UserManager.GetUserId(User);
}

<div class="col mb-4 blogbox" style="float:left">
    <div class="card h-100">
        <img class="card-img-top card-img"
             src="@Model.MainImage" style="object-fit: cover; height: 200px; object-position:top center">
        <div class="card-body">
            <h5 class="card-title">@Model.Title</h5>
            <div>
                <i class="fas fa-star">@Model.ReviewsCount</i>
            </div>
            @if (Model.CityName != null)
            {
                <div>
                    <i class="fas fa-map-marker-alt">@Model.CityName</i>
                </div>
            }
            <div>
                <i class="fas fa-user"></i>
                <a asp-controller="Users"
                   asp-action="Profile"
                   asp-route-id="@Model.UserId"
                   style="display: inline-block"> @Model.Username</a>
            </div>
            <div>
                <i class="fas fa-calendar-alt">@Model.CreatedOn</i>
            </div>
            <hr />
            <a asp-controller="Announcements"
               asp-action="Details"
               asp-route-id="@Model.Id"
               class="btn-sm btn-primary">@Model.PriceAsString</a>

            @if (User.IsInRole("Administrator") || Model.UserId == userId)
            {
                <a asp-controller="Announcements"
                   asp-action="Delete"
                   asp-route-id="@Model.Id"
                   class="btn-sm btn-danger">Изтрий</a>
            }
        </div>
    </div>
</div>
