@inject UserManager<ApplicationUser> UserManager
@using Microsoft.AspNetCore.Identity
@using EasyServices.Data.Models
@{
    var userId = UserManager.GetUserId(User);
}

@foreach (var announcement in Model.ServiceAnnouncements)
{
    <div class="col mb-4">
        <div class="card h-100">
            <img class="card-img-top card-img" src="@announcement.MainImage" style="object-fit: cover; height: 200px; object-position:top center">
            <div class="card-body">
                <h5 class="card-title">@announcement.Title</h5>
                <div>
                    <i class="fas fa-star">@announcement.ReviewsCount</i>
                </div>
                @if (announcement.CityName != null)
                {
                    <div>
                        <i class="fas fa-map-marker-alt">@announcement.CityName</i>
                    </div>
                }
                <div>
                    <i class="fas fa-user"></i>
                    <p style="display: inline-block"> @announcement.UserName</p>
                </div>
                <div>
                    <i class="fas fa-calendar-alt">@announcement.CreatedOn</i>
                </div>
                <hr />
                <a asp-controller="Announcements" asp-action="Details" asp-route-id="@announcement.Id" class="btn-sm btn-primary">@announcement.PriceAsString</a>

                @if (User.IsInRole("Administrator") || announcement.UserId == userId)
                {
                    <a asp-controller="Announcements" asp-action="Delete" asp-route-id="@announcement.Id" class="btn-sm btn-danger">Изтрий</a>
                    <a asp-controller="Announcements" asp-action="Edit" asp-route-id="@announcement.Id" class="btn-sm btn-info">Редактирай</a>
                }
            </div>
        </div>
    </div>
}
